<!-- --------------------------- -->
<!-- ----------footer---------- -->
<!-- --------------------------- -->
<footer class="text-dark pb-0 mt-5 pt-3 container">
  <hr class="container bg-success" />
  <div class="row inline mt-3 pt-3">

    <div class="col">
      <a href="./home.html"><img class="w-10 logofooter h-auto" src="./assets/logo.png" alt=" " /></a>
    </div>

    <div class="col">
      <ul>
        <li><strong>Menu </strong></li>
        <a class="text-decoration-none" href="./home.html">
          <li class="text-dark">Inicio</li>
        </a>
        <a class="text-decoration-none" href="./acaprinu.html">
          <li class="text-dark">A caprinu</li>
        </a>
        <a class="text-decoration-none" href="./paraOprodutor.html">
          <li class="text-dark">Informaçoes tecnicas</li>
        </a>
        <a class="text-decoration-none" href="./contato.html">
          <li class="text-dark">Fale conosco</li>
        </a>
      </ul>
    </div>

    <div class="col">

      <ul>
        <li> <strong> Redes sociais </strong></li>
        <li> <a href="https://www.instagram.com/caprinu/ "> <i class="bi bi-instagram corgreen"></i></a>
        </li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li><strong>Contato </strong></li>
        <li>amanualdev@gmail.com</li>
        <li>Rua Projetada, S/N - Caetano II</li>
        <li>Floresta - PE 56400-000</li>
        <li>Tel: (87) 3877-2825</li>
      </ul>
    </div>


  </div>
  <div class="bg-green">
    <p class="text-center mt-4">©2021 Copyright: Caprinu - Manual Virtual</p>
  </div>
  <!-- <hr class="container bg-success" /> -->

</footer>

<!-- --------------------------- -->
<!-- ----------Scripts---------- -->
<!-- --------------------------- -->

<script>
  (function (h, o, t, j, a, r) {
    h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
    h._hjSettings = { hjid: 2646098, hjsv: 6 };
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script'); r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>



<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js" />
<link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
<script src="./assets/js/mapa.js"></script>
</body>

</html>